---
const { title, description, technologies, url } = Astro.props;
---
<a href={url} class="block p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{title}</h5>
    <p class="mb-4 h-[84px] font-normal text-gray-400">{description}</p>
        {technologies.map((e)=>(
            <span class="inline-block mb-2 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">{e}</span>
        ))}
</a>
