---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/experience/Experience.astro";
import Projects from "../components/projects/Projects.astro";
import Education from "../components/education/Education.astro";
---

<Layout title="Miguel Fuertes - Software Engineer">
	<Experience />
	<Projects />
	<Education />
	<div class="h-[64px]"></div>
</Layout>
